.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.basicInfo {
  padding-left: 3%;
  padding-right: 3%;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white !important;
  opacity: 1;
  cursor: pointer!important;
}

.startDate {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.activationDate {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.endDate {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

#startIcon {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

#endIcon {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.radioButtons {
  background-color: #e9ecef !important;
  border: 1px solid #ced4da !important;
  color: #495057 !important;
}

.invalid-feedback {
  font-size: 10pt !important;
}

.checkButtons {
  background-color: #e9ecef !important;
  border: 1px solid #ced4da !important;
  color: #495057 !important;
}

.custom-control-label {
  font-size: 12pt;
  padding-left: 19% !important;
}
.custom-toggle {
  padding-left: 0px !important;
}

.dateSelector {
  padding-left: 3% !important;
  font-size: 15pt;
}
.rightInputInBasicInfo {
  padding-left: 8%;
}

.recurrenceLabel {
  font-size: 15pt;
}

.occurenceLabel {
  font-size: 15pt;
}

.allDayLabel {
  font-size: 15pt;
}

.basicInfo {
  font-size: 15pt;
}

.startTime {
  font-size: 15pt;
}

.inputName {
  font-size: 15pt;
}

.inputRecurrence {
  font-size: 15pt;
  width: 100% !important;
}

.steps-action {
  float:right;
}

.eventCreationModal {
  width:90%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* .modal-dialog {
  height: 45%
}

.modal-content {
  height: 100%
} */

.fadeout {
  display: none;
}

.userSelectEventModal
{
  width: 100%;
  margin-right:0px!important;
  margin-left:0px!important;
}

.userSelectEventModalParent
{
  margin-left: 2%;
  margin-right: 2%;
}

.userSelectEventTable
{
  margin-bottom: 0px!important;
}

.userSelectLabel
{
  font-weight: bold;
}

.userSelectData
{
  padding-left:10%;
}

.userSelcectModalHeader
{
  padding-left: 10% !important;
}

.userTableTop
{
  border-top: 0px!important;
}

.editLabel
{
  padding-top:2%!important;
}

.editDatesLabel
{
  padding-left:0px!important;
  padding-right:0px!important;
}

.editEventLabel
{
  padding-left:1rem!important
}

.fadeout.active {
  display: block;
}

.steps-content {
  margin-top: 16px;
}

.steps-action {
  margin-top: 3%;
}

.adminName {
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.adminInactiveName {
  padding-left: 10%;
  padding-bottom: 1%;
}

.unpublishedTable {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.publishedTable {
  padding-left: 10%;
  padding-right: 10%;
}

.invalid-input {
  color: #c4183c;
  font-size: 10pt;
  padding-top: 1%;
}

.createEventButton {
  padding-left: 10%;
  padding-bottom: 1%;
}

.deleteMessage {
  padding-left: 5%;
}

.activateButtonRow {
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 3%;
}

.deleteButtonRow {
  padding-right: 5%;
  padding-bottom: 1%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
