.app-welcome-subheading {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.0;
}

.app-admin-page-header {
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.app-admin-page-subheader {
  padding-left: 10%;
  padding-bottom: 1%;
}

.app-admin-page-inactive-events {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.app-admin-page-active-events {
  padding-left: 10%;
  padding-right: 10%;
}

.app-button-container-row {
  padding-left: 10%;
  padding-bottom: 1%;
}

.app-no-events-message {
  margin-top: 15px;
}

.app-button-container {
  padding-right:1%;
}

.app-button {
  background-color: #65737e!important;
  border-color: #65737e!important;
}

.app-name {
  color: white!important;
}

.app-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.app-stopwatch-timer {
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.app-counter-alert {
  width:45%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.app-logout-button {
  padding-left: 25%!important;
  width: 150%;
}

.app-custom-control-label {
  font-size: 12pt;
  padding-left: 19% !important;
}

.app-custom-toggle {
  padding-left: 0px !important;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white !important;
  opacity: 1;
  cursor: pointer!important;
}

.invalid-feedback {
  font-size: 10pt !important;
}

.invalid-input {
  color: #c4183c;
  font-size: 10pt;
  padding-top: 1%;
}