.delete-event-row {
	font-size: 15pt;
}

.delete-event-message {
	padding-left: 3.2%;
}

.delete-event-button-row {
	padding-right: 3.2%;
}

.delete-event-delete-label {
	margin-bottom: 0px!important;
	width: 200px!important;
	font-size: 32px;
}